In [4]:
import json
import pandas as pd

In [5]:
# Load dataset to a data frame
data_root = pd.read_csv(r'dataset_fashion.csv')

In [6]:
data_root.head()

,No,ClothingID,Age,Title,ReviewText,Rating,RecommendedIND,PositiveFeedbackCount,DivisionName,DepartmentName,ClassName
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [7]:
data_root.shape

(23486, 11)

In [8]:
data = data_root.dropna()

In [9]:
data.shape

(19662, 11)

In [10]:
# Create a new data frame with relevant columns only
df = data[['ClassName', 'Title', 'Rating', 'ReviewText']].copy()

In [11]:
df

,ClassName,Title,Rating,ReviewText
2,Dresses,Some major design flaws,3,I had such high hopes for this dress and reall...
3,Pants,My favorite buy!,5,"I love, love, love this jumpsuit. it's fun, fl..."
4,Blouses,Flattering shirt,5,This shirt is very flattering to all due to th...
5,Dresses,Not for the very petite,2,"I love tracy reese dresses, but this one is no..."
6,Knits,Cagrcoal shimmer fun,5,I aded this in my basket at hte last mintue to...
...,...,...,...,...
23481,Dresses,Great dress for many occasions,5,I was very happy to snag this dress at such a ...
23482,Knits,Wish it was made of cotton,3,"It reminds me of maternity clothes. soft, stre..."
23483,Dresses,"Cute, but see through",3,"This fit well, but the top was very see throug..."
23484,Dresses,"Very cute dress, perfect for summer parties an...",3,I bought this dress for a wedding i have this ...
23485,Dresses,Please make more like this one!,5,This dress in a lovely platinum is feminine an...

In [12]:
#
category_all_items = [df.loc[i]['ClassName'].split('|') for i in df.index]

In [13]:
# Find the list of genres of all movies in alphabetical order
category = sorted(list(set([item for sublist in category_all_items for item in sublist])))

In [14]:
category

['Blouses',
 'Casual bottoms',
 'Chemises',
 'Dresses',
 'Fine gauge',
 'Intimates',
 'Jackets',
 'Jeans',
 'Knits',
 'Layering',
 'Legwear',
 'Lounge',
 'Outerwear',
 'Pants',
 'Shorts',
 'Skirts',
 'Sleep',
 'Sweaters',
 'Swim',
 'Trend']

In [15]:
# Initialize lists for movie data as well as titles
full_data = list()
product_titles = list()

In [16]:
for i in df.index:
    # Append movie title and the index of the movie
    product_titles.append((df.loc[i]['Title'].strip(), i, df.loc[i]['ReviewText'].strip()))
    # Add list of genres of the movies (1/0) to movie data
    product_data = [1 if ClassName in df.loc[i]['ClassName'].split('|') else 0 for ClassName in category]
    # Add IMDb score of the movie to the movie data
    product_data.append(df.loc[i]['Rating'])
    # Add record of movie to main data list
    full_data.append(product_data)

In [17]:
# Create JSON files for data and movie titles for faster load to the Recommmender
titles_dump = r'titles2.json'
with open(titles_dump, 'w+', encoding='utf-8') as f:
    json.dump(product_titles, f)